* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    height: 100px;
    margin-right: 16px;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex; 
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}

form input {
    font-size: 24px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    margin-right: 8px;
    border: #000;
}

form button {
    background: rgb(2, 93, 26);
    border: none; 
    padding: 10px;
    color: #fffefe;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-image {
    height: 35px;
    margin-left: 10px;
}


form button:hover {
    background-color: #639a75;
}

table {
    width: 100%;
    margin-top: 50px;
}

table th {
    border-radius: 5px;
    border: 2px solid #2f2f2f;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
}

table td img{
    height: 30px;
}

